#clockContainer{
    
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
.hour, .minute, .second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
.hour{
    width: 5px;
    height: 70px;
    top: 40%;
    left: 50%;
    opacity: 0.8;  
    
}
.minute{
    width: 1%;
    height: 20%;
    top: 32%;
    left: 50%;
    opacity: 0.8;
}
.second{
    width: 2px;
    height: 25%;
    top: 27%;
    left: 50.5%;
    opacity: 0.8;
}